.tabela-container{
    font-size: 15px;
    overflow-x: auto;
}

.tabela-container table{
    border-spacing: 0;
    margin: 100px auto;
    width: 60%;
}

.tabela-container thead{
    background-color: var(--cor-cinza);
    height: 80px;
}

.tabela-container thead th{
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.tabela-container thead th:last-of-type{
    border-right: 2px solid white;
}

.tabela-container p{
    color: var(--cor-cinza-escuro);
    font-size: 10px;
}

.tabela-container th:first-child{
    background-color: white;
    border: 0;
}

.tabela-container th:nth-child(2){
    border-radius: 5px 0 0 0;
}

.tabela-container th:last-child{
    border-radius: 0 5px 0 0;
}

.tabela-container tbody{
    text-align: center;
}

.tabela-container tbody tr th:first-child{
    width: 280px;
    height: 50px;
    padding-left: 30px;
    font-weight: 600;
    
    text-align: left;
    background-color: var(--cor-cinza);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
} 

.tabela-container tbody tr:last-child td:last-of-type{
    border-radius: 0 0 5px 0;
}

.tabela-container tbody tr:last-child th:last-of-type{
    border-radius: 0 0 0 5px;
}

.tabela-container tbody tr:first-child th:first-of-type{
    border-radius: 5px 0 0 0;
}

.tabela-container td{
    font-size: 13px;
    font-weight: 600;
    width: 150px;
    
    background-color: #fff;
    transition: .3s;
}

.tabela-container td:hover{
    background-color: var(--cor-azul-escuro);
    color: white;

    transition: .3s;
}

.marcador-azul{
    width: 20px;
    height: 20px;
    margin: auto;
    
    background-color: var(--cor-azul);
    border-radius: 100px;
}

.tabela-container tbody td:last-child{
    border-right: 2px solid var(--cor-cinza);
}

.tabela-container tbody td{
    border-left: 2px solid var(--cor-cinza);
    border-bottom: 2px solid var(--cor-cinza);
}
