.topoContainer{
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
}

.logoTopo img{
    height: 80px;
    width: 80px;
}

.logoTopo figure{
    display: flex;
    flex-direction: column;
}