h1{
    font-size: 32px;
}

figcaption{
    font-size: 15px;
}

.topo-container, .topo-container-logo-tabela{
    display: flex;
    justify-content: space-between;

    max-width: 1024px;
    margin: auto;
    padding: 40px;
}

.topo-container-tabela{
    background-color: var(--cor-azul);
}

.logo-topo img{
    height: 80px;
    width: 80px;
    margin: auto 0;
}

.logo-topo{
    display: flex;
}

.logo-descricao{
    font-size: 20px;
    margin: auto 0;
    padding-left: 15px;
}

.logo-descricao-tabela{
    color: white;
    font-weight: normal;
}

.lista-topo-container{
    display: flex;
    align-items: center;
}

.lista-topo, .lista-topo-tabela{
    display: flex;
}

.lista-topo li, .lista-topo-tabela li{
    list-style: none;
    margin-right: 15px;
}

.lista-topo a{
    transition: .3s;
}  

.lista-topo-tabela a{
    transition: .3s;
}   

.lista-topo a:hover{
    color: var(--cor-azul);
    transition: .3s;
}   

.lista-topo-tabela a:hover{
    color: white;
    transition: .3s;
}   
