.botao-volta a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5.5%;
    bottom: 11.5%;

    width: 100px;
    height: 50px;
    background-color: var(--cor-azul);
    border-radius: 5px;
    border: 2px solid var(--cor-cinza);
    color: var(--cor-branco);
    text-decoration: none;

    transition: .3s;
}

.botao-volta a:hover{
    font-size: 1.1rem;
    background-color: var(--cor-azul-escuro);
}