.informacoes-container{
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}

.informacoes-container h2{
    margin: 90px  auto;
    font-size: 33px;
    width: 900px;
    text-align: center;
}

.informacoes-divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.informacoes-banners{
    width: 400px;
}

.informacoes-banners img{
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
}

.informacoes-banners h3{
    margin-bottom: 20px;
    font-size: 20px;
}

.informacoes-banners p{
    font-size: 16px;
    width: 330px;
    margin: 0 auto 120px auto;
}

