.planos-container{
    text-align: center;
    margin: 0 auto;
    background-color: var(--cor-cinza);
}

.planos-container h2{
    font-size: 32px;
    padding-top: 70px;
}

.table-container img{
    height: 100px;
    width: 100px;
}

.table-container{
    display: flex;
    align-items: center;
    
    height: 700px;
    overflow-x: auto;
}

.table-container table{
    margin: 0 auto;
    border-spacing: 0; 
}

.table-container th{
    width: 220px;
}

.table-container th:first-of-type{
    border-radius: 5px 0 0 0;
}

.table-container th:last-of-type{
    border-radius: 0 5px 0 0;
}

.table-container tfoot td:last-of-type{
    border-radius: 0 0 5px 0;
}

.table-container tfoot td:first-of-type{
    border-radius: 0 0 0 5px;
}

.table-container th h3{
    margin: 10px auto;
}

.table-container th p{
    font-size: 14px;
    width: 150px;
    margin: 10px auto;
    color: var(--cor-cinza-escuro);
}

.table-container th, .table-container td{
    padding: 15px;
    font-weight: 600;
}

.table-container th, .table-container td{
    border-left: 2px solid var(--cor-cinza);
    border-top: 2px solid var(--cor-cinza);
}

.table-container td:last-of-type, .table-container th:last-of-type{
    border-right: 2px solid var(--cor-cinza);
}

.table-container table{
    box-shadow: 0 0 35px 20px var(--cor-azul);
}

.table-container tr th, .table-container tr:nth-of-type(even){
    background-color: white;
}

.table-container tr:nth-of-type(odd){
    background-color: var(--cor-cinza-tabela);
}

